.systembar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 1rem;
  background: var(--muted-bg);
  color: var(--text);
}
.head-title {
  margin: 0;
}

.taskbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 48px;
  padding: 0 1rem;
  background: var(--muted-bg);
  color: var(--text);
}
.time {
  font-weight: 500;
  font-size: 14px;
  color: var(--text);
}

.menu-icon {
  width: 48px;
  height: 48px;
  background-color: transparent;
}